<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="org.pbernasconi.activityIndicator"
        version="1.0.0">

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <name>Activity Indicator</name>
    <description>Activity Indicator plugin for Cordova 3.X that allows you to show a loading spinner in your Cordova's app.</description>
    <author>Paolo Bernasconi</author>
    <keywords>activity,indicator,loading,spinner</keywords>
    <license>Apache 2.0 License</license>

    <js-module src="www/progressIndicator.js" name="ActivityIndicator">
        <clobbers target="ActivityIndicator"/>
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ActivityIndicator">
                <param name="ios-package" value="ActivityIndicator"/>
            </feature>
        </config-file>
        <header-file src="src/ios/ActivityIndicator.h"/>
        <source-file src="src/ios/ActivityIndicator.m"/>
        <header-file src="src/ios/MBProgressHUD.h"/>
        <source-file src="src/ios/MBProgressHUD.m"/>
    </platform>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ActivityIndicator">
                <param name="android-package" value="org.apache.cordova.plugin.ActivityIndicator"/>
            </feature>
        </config-file>
        <source-file src="src/android/ActivityIndicator.java" target-dir="src/org/apache/cordova/plugin"/>
    </platform>
</plugin>
