com.ionic.keyboard/*
com.google.playservice/*
org.apache.cordova.inappbrowser/*
com.google.playservices/*             
nl.x-services.plugins.socialsharing/* 
org.apache.cordova.media/*                 
nl.x-services.plugins.toast/*
org.apache.cordova.splashscreen/*
cordova-plugin-google-analytics/*     
org.apache.cordova.file/*             
org.pbernasconi.progressindicator/*                   
org.apache.cordova.file-transfer/*