.list.card
  .item.item-avatar
    img(src='img/VR_Logo_rgb_4.png')
    h2(style='color:black') Save your words!
    p Recording...
  .item.item-body
    h1(style='color:black')
      timer {{hhours}}:{{mminutes}}:{{sseconds}}
    ion-spinner(icon='lines')
  .item.tabs.tabs-secondary.tabs-icon-left
    a.tab-item(ng-click='cancel()')
      i.icon.ion-close.assertive
      | Cancel
    a.tab-item(ng-click='stop()')
      i.icon.ion-archive
      | Save