ion-view(view-title='Record a talk')
  ion-content(scroll='false', on-swipe-left='onSwipedLeft()', on-swipe-right='onSwipedRight()')
    img(src='img/vintage-microphone.jpg',
      ng-click="start()",
      ng-hide="isRecording",
      style='display:block;\
      margin-top:5%;\
      margin-left:auto;\
      margin-right:auto;\
      height:100%')