.list.card
  .item.item-avatar
    img(src='img/vr_400x400.png')
    h2(style='color:black') Share your words!
  .item.item-body
    h1(style='color:black')
      timer {{hhours}}:{{mminutes}}:{{sseconds}}
    ion-spinner(icon='lines')
  .item.tabs.tabs-secondary.tabs-icon-left
    a.tab-item(ng-click='stop()')
      i.icon.ion-stop.assertive
      | Stop
    a.tab-item(ng-click='mute()')
      i.icon.ion-android-microphone(ng-show='isMuted')
      i.icon.ion-android-microphone-off(ng-hide='isMuted')
      | {{isMuted ? "Unmute" : "Mute"}}