ion-view(view-title='Share your talk')
  ion-nav-buttons(side='left')
    a.button.icon-left.ion-chevron-left.button-clear.button-light(ng-click='back()')
  ion-content(scroll='true', on-swipe-right='onSwipedRight()')
    .list.card
      .item.item-avatar.item-text-wrap
        img(src='img/VR_Logo_rgb_4.png')
        h2(style='color:black') Share your Words!
        p Talk &quot;{{talk.title}}&quot; on Voice Republic wants to be heard...
      .item.item-image.padding
        img(src='img/img-socialicons.png', ng-click='share()')
      .item.tabs.tabs-secondary.tabs-icon-left
          a.tab-item(ng-click='share()')
            i.icon.ion-share(ng-show='isIOS')
            i.icon.ion-android-share-alt(ng-show='isAndroid')
            | Share