ion-tabs.tabs-icon-top.tabs-background-assertive.tabs-color-light
  //- Record Tab
  ion-tab(title='Record', icon-off='ion-ios-mic-outline', icon-on='ion-ios-mic', href='#/tab/record')
    ion-nav-view(name='tab-record')
  //- Saved Files Tab
  ion-tab(title='Saved Talks', icon-off='ion-ios-list-outline', icon-on='ion-ios-list', href='#/tab/talkList')
    ion-nav-view(name='tab-talkList')
  ion-tab(title='Settings', icon-off='ion-ios-gear-outline', icon-on='ion-ios-gear', href='#/tab/settings')