ion-tabs.tabs-icon-top.tabs-color-active-assertive(animation='slide-left-right')
  // Record Tab
  ion-tab(title='Record', icon-off='ion-radio-waves', icon-on='ion-radio-waves', href='#/tab/record')
    ion-nav-view(name='tab-record')
  // Saved Files Tab
  ion-tab(title='Saved Talks', icon-off='ion-music-note', icon-on='ion-music-note', href='#/tab/talkList')
    ion-nav-view(name='tab-talkList')
