ion-view(view-title='Talks overview')  
  ion-header-bar.bar-assertive
    .buttons
      button.button.button-icon.icon.ion-ios-minus-outline(ng-click='shouldShowDelete = !shouldShowDelete;')
    h1.title Talks overview
  ion-content
    ion-list(show-delete='shouldShowDelete', can-swipe='listCanSwipe')
      ion-item.item-avatar.item-icon-right(ng-repeat='talk in talksToUpload')
        img(ng-src='{{talk.img}}')
        p {{talk.recordDate}}
        h2 {{talk.title}}
        i.icon.ion-play(ng-click='play(talk)', ng-hide='isPlayingId == talk.id')
        ion-spinner.spinner-assertive(ng-click='stopPlaying()', icon='ripple', ng-show='isPlayingId == talk.id', style='float:right; margin-top:-15%; margin-right:-15%')
        ion-delete-button.ion-minus-circled(ng-click='talksToUpload.splice($index, 1)')
        ion-option-button.button-assertive(ng-click='talksToUpload.splice($index, 1)')
          | Delete
        ion-option-button.button-calm(ng-click='upload(talk)')
          | Upload